

@model Projeto_Laboral.Body.Body_Site_Template
<html class="no-js" lang="">
<head>
<meta name="google-site-verification" content="fKo_nshjksqcXaXu9B8hs9w0RlNZmwhDetaEvNWts-8" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>.:Pro Labore:.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/style_photo.css">
    <link href='http://fonts.googleapis.com/css?family=Leckerli+One|Metrophobic' rel='stylesheet' type='text/css'>

</head>
<body>
    <!-- start preloader -->
    
    <!-- end preloader -->
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Inicio de Cabeçalho -->
    <div class="navbar navbar-fixed-top" style="background-color:rgb(159,217,37);">
  <div class="navbar-header">
    <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
      <span style="background:#fff;" class="icon-bar"></span>
      <span style="background:#fff;" class="icon-bar"></span>
      <span style="background:#fff;" class="icon-bar"></span>
    </button>
    <a href="@Url.Action("Index","Home")"><img style="float : left;position:absolute;margin-left : 20px;margin-top : 5px;width : 160px;z-index:9999;" src="~/img/imagens/logonext5.png" alt="" /></a>
  </div>
  <div class="navbar-collapse collapse navbar-warning-collapse">
    <ul class="nav navbar-nav navbar-right" style="color:white;">
      <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                        <li><a class="page-scroll" href="#abt_sec">Sobre</a></li>
                                        <li><a class="page-scroll" href="#pr_sec">Serviços</a></li>
                                        <li><a class="page-scroll" href="#tm_sec">Profissionais</a></li>
                                        <li><a class="page-scroll" href="#lts_sec">Galeria</a></li>
                                        <li><a class="page-scroll" href="#clt_sec">Empresas</a></li>
                                        <li><a class="page-scroll" href="#ctn_sec">Contato</a></li>
                                        <li><a class="page-scroll" href="@Url.Action("Index","Login")">Login</a></li>
    </ul>
    
  </div>
</div>
    <!-- End Header Section -->
    <!-- Inicio de Slider -->
    <section id="slider_sec" style="background-image : url(@Model.S1_Home.img_home);
background-position : center center;
background-repeat : no-repeat;
width: 100%;
height: 700px;">
        <div class="container">
            <div class="row">
                <div class="slider">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="wrap_caption">
                                    <div class="caption_carousel">
                                        <h1>@Model.S1_Home.titulo</h1>
                                        <p>@Model.S1_Home.text</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap_caption">
                                    <div class="caption_carousel">
                                        <h1>@Model.S1_Home.titulo2</h1>
                                        <p>@Model.S1_Home.text2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <div class="wrap_caption">
                                    <div class="caption_carousel">
                                        <h1>@Model.S1_Home.titulo3</h1>
                                        <p>@Model.S1_Home.text3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fim -->

    <!-- Inicio da section Sobre -->
    <section id="abt_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="title_sec">
                        <h1>Sobre a Empresa</h1>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="abt">
                        <!--Conteúdo do Sobre-->
                        <p class="abt">
                            @Model.S1_Home.sobre
                        </p>

                        <!--Conteúdo Instituicional-->
                    </div>
                    <div style="margin-top: 24px;">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="sngl_pricing">
                                <h2 class="title_bg_1">Missão</h2>
                                <p>
                                    Transformar e potencializar a saúde empresarial, prezar pela saúde do
                                    trabalhador, prevenir lesões ocupacionais e reduzir o absenteísmo. Além
                                    de promover ambientes de trabalho mais humanos e seguros.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="sngl_pricing">
                                <h2 class="title_bg_2">Valores</h2>
                                <p>
                                    Prestar serviços dentro da ética profissional, seguindo as Normas e
                                    Legislações Trabalhistas, com alto nível de produtividade, qualidade,
                                    seriedade e segurança.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="sngl_pricing">
                                <h2 class="title_bg_3">Visão</h2>
                                <p>Sermos referência nacional em promoção e prevenção da saúde empresarial</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- Backup-->
    <!-- <section id="counting_sec">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="counting_sl">
                <i class="fa fa-user"></i>
                <h2 class="counter">43,753</h2>
                <h4>Happy Clients</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="counting_sl">
                <i class="fa fa-desktop"></i>
                <h2 class="counter">20,210</h2>
                <h4>Complete Project</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="counting_sl">
                <i class="fa fa-ticket"></i>
                <h2 class="counter">43,753</h2>
                <h4>Answered Tickets</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="counting_sl">
                <i class="fa fa-clock-o"></i>
                <h2 class="counter">45,105</h2>
                <h4>Development Hours</h4>
                </div>
            </div>
        </div>
    </div>
    </section>-->
    <!-- Inicio da section Beneficios-->
    <section id="skill_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="title_sec">
                        <h1>Resultados Alcançados</h1>
                        <h2>Porque devemos realizar Ginástica Laboral?</h2>
                    </div>
                </div>
                <div class="skills progress-bar1">
                    @foreach (var Dados in Model.S8_Estatisticas as IEnumerable<Projeto_Laboral.Models.estatistica>)
                    {
                        if(Dados.id % 2 == 0)
                        {
                    <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
                        <li class="progress">
                            <div class="progress-bar" data-width="@Dados.percentagem">
                                @Dados.titulo @Dados.percentagem%
                            </div>
                        </li>
                    </ul>
                    }
                    else
                    {
                    <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
                        <li class="progress">
                            <div class="progress-bar" data-width="@Dados.percentagem">
                                @Dados.titulo @Dados.percentagem%
                            </div>
                        </li>
                    </ul>
                    }
                    }
                </div>


            </div>
        </div>
    </section>

    <!-- start Serviços Section -->
    <section id="pr_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="title_sec">
                        <h1>O que fazemos</h1>
                        <h2>Nossas atividades</h2>
                    </div>
                </div>
                @foreach (var Dados in Model.S3_Servicos as IEnumerable<Projeto_Laboral.Models.exibition_atv>)
                {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="box_service">
                        <img src="@Dados.img_serv">
                        <h2 class="title_box">@Dados.text</h2>
                    </div>
                </div>
                }
            </div>
        </div>
        </div>
    </section>
    <!-- Final da section Serviços-->

    <!-- Inicio Profissionais -->
    <section id="tm_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="title_sec">
                        <h1>Nossos Profissionais</h1>
                        <h2>Alguns dos nossos professores</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
                    <div class="all_team">
                        @foreach (var Dados in Model.S4_PRF as IEnumerable<Projeto_Laboral.Models.exibition_prf>)
                        {
                            if (Dados.exb == 1)
                            {
                            <div class="sngl_team">
                            <img src="@Dados.img" alt="" />
                            <h3> @Dados.nome<span>@Dados.area</span></h3>
                            <p>@Dados.text</p>
                            </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fim -->

    <!-- Comentarios de clientes -->
    <!--
    <section id="tstm_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="all_tstm">

                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>what people say?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- jhon deo</h6>
                        </div>
                    </div>

                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Clien Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- shura deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Awesome Support SIMA</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- kumara deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Theme Feature great</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- dhera deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Non conflict</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- jhon deo</h6>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
    <!--Section da Galeria-->
    <section id="lts_sec">
        <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="title_sec">
                        <h1>Galeria</h1>
                        <h2>Nossos registros de atividades</h2>
                    </div>
                </div>
                <div class="campo">
                    <div class="campo_inner">
                        <!-- Gallery -->
                        <section class="gallery">
                           @foreach (var Dados in Model.S5_Galeria as IEnumerable<Projeto_Laboral.Models.exib_gallery>)
                             {
                            if (Dados.type == 1 || Dados.type == 2)
                            {
                             <div class="gallery_item">
    <span class="gallery_item_preview">
    <a data-toggle="modal" data-target="#@Dados.id">
    <img src="@Dados.img" alt="" /><span>
    <h3>@Dados.title</h3>
        @if(Dados.text.Length > 20)
        {
        <p>@Dados.text.Substring(0,20)</p>
        }
        else
        {
        <p>@Dados.text</p>
        }
    </span>
    </a>
    </span>
        </div>
                             <div class="modal fade" id="@Dados.id" tabindex="-1">
    <div class="modal-dialog">
    <div class="modal-content">
            <img src="@Dados.img" style="width:100%;" alt="" />
        <span class="gallery_item_preview">
            <a>
                <div class="font_modal">
                    <h3>@Dados.title</h3>
                    <p>@Dados.text</p>
                </div>
            </a>
        </span>
    </div>
    </div>
    </div>
                            }
                            else if (Dados.type == 3)
                            {
                             <div class="gallery_item">
    <span class="gallery_item_preview">
    <a data-toggle="modal" data-target="#@Dados.id">
    <iframe style="width:100%;height:180px;" src="@Dados.video"></iframe>
    <span>
    <h3>@Dados.title</h3>
    @if(Dados.text.Length > 20)
        {
        <p>@Dados.text.Substring(0,20)</p>
        }
        else
        {
        <p>@Dados.text</p>
        }
    </span>
    </a>
    </span>
        </div>
                             <div class="modal fade" id="@Dados.id" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <iframe style="width:100%;height:80%;" src="@Dados.video"></iframe>
            <span class="gallery_item_preview">
                <a>
                    <div class="font_modal">
                        <h3>@Dados.title</h3>
                        <p>@Dados.text</p>
                    </div>
                    </a>
        </div>
    </div>
    </div>
                            }
                            }
                         <div id="divID"></div>
                        </section>
                    </div>

               <div class="post_btn">
				<div class="hover_effect_btn" id="hover_effect_btn">
					<a onclick="teste()" data-hover="view more post"><span>Mais fotos</span></a>
				</div> 
			</div>
            </div>	
            </div>
    </section>
    <!--Fim-->
    <!-- Section tablea de preço Backuo -->
    <!--
    <section id="pricing_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="sngl_pricing">
                        <h2 class="title_bg_1">Missão</h2>
                        <p>
    Transformar e potencializar a saúde empresarial, prezar pela saúde do
    trabalhador, prevenir lesões ocupacionais e reduzir o absenteísmo. Além
    de promover ambientes de trabalho mais humanos e seguros.
    </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="sngl_pricing">
                        <h2 class="title_bg_2">Valores</h2>
                        <p>Prestar serviços dentro da ética profissional, seguindo as Normas e
    Legislações Trabalhistas, com alto nível de produtividade, qualidade,
    seriedade e segurança.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="sngl_pricing">
                        <h2 class="title_bg_3">Visão</h2>
                        <p>Sermos referência nacional em promoção e prevenção da saúde empresarial</p>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Section Clientes da empresa -->
    <section id="clt_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="title_sec">
                        <h1>Nossos Clientes</h1>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
                    <div class="al_clt">
                        @foreach (var Dados in Model.S6_Cliente as IEnumerable<Projeto_Laboral.Models.exib_client>)
                        {
                        <div class="sngl_clt">
                            <a href=""><img style="width:80%;" src="@Dados.img" alt="@Dados.empresa" /></a>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fim-->

    <!-- Section Contato -->
    <section id="ctn_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="title_sec">
                        <h1>Contatos</h1>
                        <h2>Estamos disponíveis para tirar a sua dúvida. entre em contato conosco</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="cnt_form">
                        @using (Html.BeginForm("Enviar_Email", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                            <div class="form-group">
                                <input type="text" name="nome" class="form-control name-field" required="required" maxlength="35" placeholder="Nome">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control mail-field" maxlength="46" required="required" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="number" name="contato" class="form-control mail-field" maxlength="11" required="required" placeholder="(81) 00000-0000">
                            </div>
                            <div class="form-group">
                                <textarea name="mensagem" required="required" class="form-control" rows="8" maxlength="300" placeholder="Massagem"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cnt_info">
                        <ul>
                            <li><i class="fa fa-envelope"></i><p>prolabore@prolaboresaude.com.br</p></li>
                            <li><i class="fa fa-phone"></i><p>(081) 99720-5799</p></li>
                            <li><i class="fa fa-phone"></i><p>(081) 99740-7169</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End contact us  Section -->

    <!-- Section Map Backuo -->
    <!--
    <section id="ltd_map_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="map">
                <h1>located THE MAP</h1><a href="#slidingDiv" class="show_hide" rel="#slidingDiv"><i class="fa fa-angle-up"></i></a>
                <div id="slidingDiv">
                    <div class="map_area">
                        <div id="googleMap" style="width:100%;height:300px;"></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    End located map  Section -->

    <!-- start footer Section -->
    <footer id="ft_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ft">
                        <ul>
                            <li><a href="https://www.facebook.com/prolaboresaude?fref=ts"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Pro_Labore_"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/pro_labore/?hl=pt-br"><i class="fa fa-instagram "></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                    <ul class="copy_right">
                        <li>&copy;Sima 2015</li>
                        <li>developer by md. shiddikur rahman</li>
                        <li>programming by Wilson Falcão</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Section -->

    <script src="~/Content/js/jquery-1.11.3.min.js"></script>
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/appear.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.nicescroll.min.js"></script>
    <script src="~/Content/js/jquery.easing.min.js"></script>
    <script src="~/Content/js/scrolling-nav.js"></script>
    <script src="Content/js/main.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 10,
                time: 500
            });
        });
    </script>
    <script>
        //Hide Overflow of Body on DOM Ready //
        $(document).ready(function () {
            $("body").css("overflow", "hidden");
        });
    </script>
    <script>
    function teste() {
        var div = null;
        $.ajax({
            dataType: "json",
            type: "GET",
            url: "Home/Carregar_Part",
            success: function (dados) {
                $(dados).each(function (i) {
                    div = document.getElementById("divID");

                    if (dados[i].type == 2 || dados[i].type == 1)
                    {
                            div.innerHTML += "<div class='gallery_item'>" +
                           "<span class='gallery_item_preview'>" +
                           "<a data-toggle='modal' data-target='#" + dados[i].id + "'>" +
                           "<img src='" + dados[i].img + "' alt='' /><span>" +
                           "<h3>" + dados[i].title + "</h3>" +
                           "<p>" + String(dados[i].text).substring(0,10) + "</p></div>" +
                           "</span></a></span></div>" +
                           "<div class='modal fade' id='" + dados[i].id + "' tabindex='-1'>" +
                           "<div class='modal-dialog'>" +
                           "<div class='modal-content'>" +
                           "<img src='" + dados[i].img + "' style='width:100%;' alt='' />" +
                           "<span class='gallery_item_preview'>" +
                           "<a> <div class='font_modal'>" +
                           "<h3>" + dados[i].title + "</h3>" +
                           "<p>" + dados[i].text + "</p></div>" +
                           "</a></span></div></div></div>";
                    }
                    if (dados[i].type == 3) {
                        div.innerHTML += "<div class='gallery_item'>" +
                          "<span class='gallery_item_preview'>" +
                          "<a data-toggle='modal' data-target='#" + dados[i].id + "'>" +
                          "<img src='" + dados[i].img + "' alt='' /><span>" +
                          "<h3>" + dados[i].title + "</h3>" +
                          "<p>" + String(dados[i].text).substring(0,10) + "</p></div>" +
                          "</span></a></span></div>" +
                          "<div class='modal fade' id='" + dados[i].id + "' tabindex='-1'>" +
                           "<div class='modal-dialog'>" +
                           "<div class='modal-content'>" +
                           "<iframe style='width:100%;height:100%;' src='" + dados[i].video + "'></iframe>" +
                           "<span class='gallery_item_preview'>" +
                           "<a> <div class='font_modal'>" +
                           "<h3>" + dados[i].title + "</h3>" +
                           "<p>" + dados[i].text + "</p></div>" +
                           "</a></span></div></div></div>";
                    }
                });
            }
        });
    };
    </script>
</body>
</html>