@model MvcApplication4.Controllers.Body_

@{
    ViewBag.Title = "Diario_Bordo_Atualizacao";
    Layout = "~/Views/_Shared.cshtml";
}
<!--CSS-->
<link rel="stylesheet" href="~/Content/css/bootstrap3-wysihtml5.min.css">
<!-- jQuery -->
<script src="~/Content/js/jquery-1.7.1.min.js"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/js/bootstrap3-wysihtml5.all.min.js"></script>
<div class="row">        
<section class="col-md-5 connectedSortable">
<div class="box box-primary">
<div class="box-header with-border">
<h3 class="box-title">Criar Diário de Bordo</h3>
</div>
 @using (Html.BeginForm("Diario_Bordo_Atualizar", "Diario", FormMethod.Post, @Model))
 {  
<div class="box-body">
<div class="form-inline">
@foreach(var Data_Bordo in Model.Listar_Bordo as IEnumerable<MvcApplication4.Controllers.Model_Body_>)
{
    <div class="form-inline">
        <div class="col-xs-6">
                      <label>Protocolo:</label>
                        <input type="text" class="form-control input-xs" name="protocolo" value="@Data_Bordo.d_bordo_s1_protocolo" disabled />
            </div> 
        <div class="col-xs-6">           
            <label>Data:</label>
                         <input type="text" class="form-control" name="data"  value="@Data_Bordo.d_bordo_s1_data.ToString()" disabled />
</div>
</div>
}
        </div>
<div class="form-group">
@foreach(var Data_Bordo in Model.Listar_Bordo as IEnumerable<MvcApplication4.Controllers.Model_Body_>)
{
                      <label>Lugar:</label>
                        <select class="form-control" name="selectlugar" required>
                            <option value="@Data_Bordo.d_bordo_s1_id_categoria" selected>Lugar Registrado em Banco</option>
                            @foreach (var Lugar in Model.Categorias_Select as IEnumerable<MvcApplication4.Models.cadastro_categoria>)
                            {
                                 <option value="@Lugar.id_categoria">@Lugar.categoria</option>
                            }
                        </select>
                        <label>Título do Problema:</label>
                        <input type="text" class="form-control input-xs" value="@Data_Bordo.d_bordo_s1_t_problema" name="tproblema" required maxlength="100" />
}                     
    </div>
<div class="form-group">
@foreach(var Data_Bordo in Model.Listar_Bordo as IEnumerable<MvcApplication4.Controllers.Model_Body_>)
{
<label>Problema:</label>
<div class="box-body pad">
<textarea class="textarea" value="@Data_Bordo.d_bordo_s1_problema" name="texto"  placeholder="@Data_Bordo.d_bordo_s1_problema" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" required></textarea>
</div>
}
</div>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</div>
 }
</div>
</section>
</div>
<script type="text/javascript">
      $(function () {
        //bootstrap WYSIHTML5 - text editor
          $(".textarea").wysihtml5();
      });
</script>

@if (ViewBag.Cadastro_State == "Sucesso")
{
    @Html.Partial("ModalAlert");
}
