@model Projeto_Laboral.Body.Body_Site_Template

@{
    ViewBag.Title = "Ad_Ex_Profissionais";
    Layout = "~/Views/_SharedBI.cshtml";
}

<!--CSS-->
<link rel="stylesheet" href="~/Content/css/bootstrap3-wysihtml5.min.css">
<!-- jQuery -->
<script src="~/Content/js/jsbi/jquery-1.7.1.min.js"></script>
<script src="~/Content/js/jsbi/jquery.validate.min.js"></script>
<script src="~/Content/js/jsbi/jquery.validate.unobtrusive.min.js"></script>

<!--Conteúdo Box Imagem-->
<div class="row"> 
<!--Lado Esquerdo-->       
<section class="col-md-5 connectedSortable">
<div class="box box-primary">
<div class="box-header with-border">
<h3 class="box-title">Cadastro de profissionais</h3>
</div>
@using (Html.BeginForm("Ad_Ex_PRF_Post", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="box-body">
<div class="form-group">
<label>Nome:</label>
<input type="text" name="Nome" class="form-control" maxlength="50" />
<label>Area:</label>
<input type="text" name="Area" class="form-control" maxlength="46" />
<label>Facebook:</label>
<input type="url" name="Facebook" class="form-control" maxlength="100" />
<label>Apresentação (100p):</label>
<textarea class="textarea" name="Text" maxlength="100" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
<label>Tipo de imagem:</label>
<select id="type_dado2" class="form-control" name="servico" onchange="addtextbox()">
<option value="0" selected></option>
<option value="1">Foto do Computador</option>
<option value="2">Foto da Web</option>
</select>
<p id="ctext2"></p>
<label>Exibição no site:</label>
<select name="Exib" class="form-control" required>
    <option selected></option>
    <option value="2">Não</option>
    <option value="1">Sim</option>
</select>   
<div class="box-footer">
<button type="submit" class="btn btn-primary">Enviar</button>
</div>
</div>
</div>
}
</div>
</section>
<section class="col-md-5 connectedSortable">
<div class="box box-primary">
<div class="box-header with-border">
<h3 class="box-title">Profissionais adicionados</h3>
<div class="box-tools pull-right">
<div class="has-feedback">
<div class="btn-group">
</div></div></div><!-- /.box-tools --></div><!-- /.box-header -->
<div class="box-body no-padding">
@*Controles do E-mailBox*@
@*Layout de Exbição E-mail*@
<div class="table-responsive mailbox-messages">
<table class="table table-hover table-striped">
<tbody>
    @foreach(var _Data_ in Model.S4_PRF as IEnumerable<Projeto_Laboral.Models.exibition_prf>)
    {
<tr>
<td>@Html.ActionLink(" ","Ad_Ex_PRF_Delete", "Dashboard", new { id = _Data_.id }, new {@class= "icon" })</td>
<td class="mailbox-n ame"><b>@_Data_.nome</b></td>
<td class="mailbox-subject">@_Data_.area</td>
<td class="mailbox-subject">@_Data_.exb</td>
<td class="mailbox-date">@_Data_.data</td>
</tr>
    }
</tbody></table><!-- /.table --></div><!-- /.mail-box-messages --></div><!-- /.box-body -->
<div class="box-footer no-padding">
</div></div>
</section>
</div>

<!--Script de Pagína-->
<script type="text/javascript">
      function addtextbox() {
          var x = document.getElementById("type_dado2").value;
          switch (x)
          {
              case ("1"): document.getElementById("ctext2").innerHTML = ""; document.getElementById("ctext2").innerHTML = "<label>Imagem Local:</label><input class='form-control' name='file_img' type='file'> "; break;
              case ("2"): document.getElementById("ctext2").innerHTML = ""; document.getElementById("ctext2").innerHTML = "<label>Imagem Web:</label><input class='form-control' name='Img_Prf' type='url'> "; break;
              default:document.getElementById("ctext2").innerHTML = "";
          }
         
      }
</script>
@if (ViewBag.Cadastro_State != "1")
{
    @Html.Partial("ModalAlert");
}
