@model Projeto_Laboral.Body.Body_Site_Template

@{
    ViewBag.Title = "Gerenciar_Usuario";
    Layout = "~/Views/_SharedBI.cshtml";
}

<!--Conteúdo Box Imagem-->
<div class="row"> 
<!--Lado Esquerdo-->       
<section class="col-md-5 connectedSortable">
<div class="box box-primary">
<div class="box-header with-border">
<h3 class="box-title">Cadastro de Usuários</h3>
</div>
@using (Html.BeginForm("Ad_Ex_Usuario_Post", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="box-body">
<div class="form-group">
<label>Login:</label>
<input type="text" name="login" class="form-control" maxlength="50" required />
<label>E-mail:</label>
<input type="email" name="email" class="form-control" maxlength="46" required />
<label>Tipo de Usuário:</label>
<select class="form-control" name="type" onchange="addtextbox()">
<option value="0" selected></option>
<option value="1">Administrador</option>
<option value="2">Professor</option>
<option value="2">Aluno</option>
</select>
<label>Senha:</label>
<input type="password" name="password" class="form-control" maxlength="16" required />
<div class="box-footer">
<button type="submit" class="btn btn-primary">Enviar</button>
</div>
</div>
</div>
}
</div>
</section>
<section class="col-md-5 connectedSortable">
<div class="box box-primary">
<div class="box-header with-border">
<h3 class="box-title">Usuários adicionados</h3>
<div class="box-tools pull-right">
<div class="has-feedback">
<div class="btn-group">
</div></div></div><!-- /.box-tools --></div><!-- /.box-header -->
<div class="box-body no-padding">
@*Controles do E-mailBox*@
@*Layout de Exbição E-mail*@
<div class="table-responsive mailbox-messages">
<table class="table table-hover table-striped">
<tbody>
    @foreach(var _Data_ in Model.S7_Usuario as IEnumerable<Projeto_Laboral.Models.usuario>)
    {
<tr>
<td>@Html.ActionLink(" ","Ad_Ex_Usuario_Delete", "Dashboard", new { id = _Data_.id }, new {@class= "icon" })</td>
<td class="mailbox-n ame"><b>@_Data_.login</b></td>
<td class="mailbox-subject">@_Data_.email</td>
<td class="mailbox-subject">@_Data_.type_user</td>
<td class="mailbox-date">@_Data_.data</td>
</tr>
    }
</tbody></table><!-- /.table --></div><!-- /.mail-box-messages --></div><!-- /.box-body -->
<div class="box-footer no-padding">
</div></div>
</section>
</div>

<!--Script de Pagína-->
@if (ViewBag.Cadastro_State != "1")
{
    @Html.Partial("ModalAlert");
}

